@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
}

h1 {
    margin: 60px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: bold;   
    color: #025923;
    text-shadow: 1px 1px 2px grey;
}

h3 {
    margin: 60px;
    margin-top: 0px;
    color: #025923;
}

h4{
    color: #025923;
    text-shadow: 1px 1px 2px grey;

}

i {
    color: #025923;
}

#github a {
    text-decoration: none;
}

#education p{
    margin-bottom: 0px;
}

#academy{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

#ices{
    font-size: 18px;
}

#category {
    font-style: italic;
    font-weight: lighter;
    font-size: 15px;
}

.checked {
    color: #025923;
  }

ul {
    list-style-type: none;
  }

ul li a {
    text-decoration: none;
}

footer{
    margin: 60px;
    margin-top: 50px;
    margin-bottom: 60px;
}